       <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Etoile du Leader</h3>
                </div>
                <div class="panel-body">
                    <p> 1. Définition des Leaders (RH) </p>
                    <p><a href="{{path('manager_collab')}}"> 2. Evaluation </a></p>
                </div>
            </div>
        </div>