       <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Etoile des Compétences</h3>
                </div>
                <div class="panel-body">
                    <p> 1. Définition des Evolutions (RH) </p>
                    <p> 2. Référentiel des Compétences (RH) </p>
                    <p><a href="{{path('manager_collab')}}"> 3. Evaluation </a></p>
                </div>
            </div>
        </div>