<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/chart.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>

  
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include 'partials/header.html.twig' %}
        
        {% block body %}{% endblock %}
        
        {% include 'partials/footer.html.twig' %}

        
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/chart.js"></script>
        <script type="text/javascript" src="/js/datatables.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

