        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Etoile des Compétences</h3>
                </div>
                <div class="panel-body">
                    <p><a href="{{ path('mission_cible_index') }}"> 1. Définition des Evolutions </a></p>
                    <p><a href="{{ path('compEtoile_index') }}"> 2. Référentiel des Compétences </a></p>
                    <p><a href="{{ path('admin_etoile') }}"> 3. Evaluation </a></p>
                </div>
            </div>
        </div>