{% extends 'base.html.twig' %}

{% block title %}Hello EffectifController!{% endblock %}

{% block body %}

<div class="container">
    
    
    <h1>Organisation du Magasin :</h1>
    
    <br>
    
    <h5><a href="{{path('new_secteur')}}">Nouveau Secteur</a></h5>
    <h5><a href="{{path('new_rayon')}}">Nouveau Rayon</a></h5>
    <h5><a href="{{path('indexSecteur')}}">Voir Secteurs</a></h5>
    <h5><a href="{{path('indexRayon')}}">Voir Rayons</a></h5>
    
    <br>


</div>
{% endblock %}

