{% extends 'base.html.twig' %}

{% block title %}Edition Etoile du Développement{% endblock %}

{% block body %}
<div class="container">
    <h1>Edition Etoile du Développement</h1>

    {{ include('admin/etoile/compEtoile/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('compEtoile_index') }}">Retour à la liste</a>

</div>
{% endblock %}
