{% extends 'admin/base.html.twig' %}

{% block title %}New CompEtoile{% endblock %}

{% block body %}
<div class="container">

    <h1>Créer une nouvelle Compétence pour l'Etoile</h1>

    {{ include('admin/etoile/compEtoile/_form.html.twig') }}

    <a href="{{ path('compEtoile_index') }}">back to list</a>

</div>
{% endblock %}
